.light__design {
  color: rgb(0, 0, 0);
  font-family: Raleway, Open Sans, sans-serif;
  font-weight: normal;
  background-color: rgb(255, 255, 255);
}

/*  header  */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  height: 293px;
  padding: 91px 50px 95px 50px;
  font-size: 18px;
}

.header__logo {
  width: 136px;
  height: 107px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.address {
  min-width: 240px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
}

.cover {
  width: 100%;
  height: 757px;
  margin-bottom: 180px;
  background-color: rgb(181, 250, 250);
}

.lots {
  width: 1052px;
  height: 723px;
  margin-bottom: 120px;
  background-color: rgb(182, 247, 191);
}

.about {
  width: 1052px;
  height: 595px;
  margin-bottom: 180px;
  background-color: rgb(255, 220, 220);
}

.footer {
  width: 100%;
  height: 180px;
  background-color: rgb(251, 187, 225);
}
